
version: "3.8"

services:
  backend:
    build: ./backend
    restart: always
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
